@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;0,700;1,200;1,300&family=Ubuntu&display=swap');

body{
   font-family: 'Poppins', sans-serif;
}


#video1 {
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#logo{
    font-weight: bolder;
    color: rgb(13, 225, 13);
}

#first{
    display: flex;
    position: relative;
    height: 10vh;
    margin: 50px;
    color: #EEA47F;
}

#name{
    position: relative;
    border: 3px solid white;
}
#btn1{
    border: 3px solid white;
}

@media screen and (max-width: 566px){
    #name{
        position: relative;
    }

    #logo{
        display: none;
    }
}

